---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Me";
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
---
<style is:global define:vars="{{skillColor, fontWeight, textCase}}">
    .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
    }

</style>
    <BaseLayout pageTitle={pageTitle}>
        <h2>... and my new Astro site!</h2>

        <p>这是一个神秘的自我介绍，但是它现在正在施工...</p>
        <ul>
            {skills.map((skill) => <li class="skill">{skill}</li>)}
        </ul>
    </BaseLayout>

