---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
const pageTitle = "Home Page";

---
<BaseLayout pageTitle={pageTitle}>
    <p>本网站在跟着astro的教程下成功一步一步走完了。</p>

    <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />

</BaseLayout>
