---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";

---
<BaseLayout pageTitle={pageTitle}>
    <p>本网站正在施工中... 跟着astro的教程一步一步走呢。</p>

    <p>60t碳酸锂 12t复合右美。回来了再做。</p>
</BaseLayout>
